// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
    margin-top: 3%;
   }
   
span {
    background-color: STEELBLUE;
    color: white;
    padding: 3px 4px;
    margin: 2px 2px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px grey;
   }
   
   .form-inline {
    display: inline-block;
   }

